.thumbnails {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.thumbnails img {
	width: 85px;
	cursor: pointer;
}

.thumbnails img.active {
	border: 2px solid var(--color-text-default);
}

.mainPhoto {
	width: 400px;
}
